*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    
}
.heading1{
    color:white;
    font-size:22px;
    text-transform: capitalize;
    font-weight: 500;
    padding-left: 40px;
    font-weight: 600;
}
.container2{
    display:flex;
    background-color: #181818;
    justify-content: space-between;
    align-items: center;
    padding:5px 40px;

}
.image_container{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
       
        
}
.image_container:hover{
    cursor: pointer;
}
.image_container p{
    color:white;
    font-size:16px;
    text-transform: capitalize;
    padding-top:5px;

}

.maincontainer{
    background-color: #181818;
    padding-top:30px;
   
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}